body {font-family: 'Roboto', sans-serif; color: #2E2F42; color: #434455; background-color: #ffffff; margin: 0;}

/*reset*/

ul {list-style-type: none;
margin: 0;
padding-left: 0;}
    
h1, h2, h3, h4, h5, h6, p {margin: 0;}

a {text-decoration: none;}

img {display: block;}

/*common*/

.container {max-width: 1158px;
padding: 0 15px;
margin: 0 auto;}

/*header*/

.page-header {border-bottom: 1px solid #e7e9fc;
box-shadow: 
0px 2px 1px rgba(46, 47, 66, 0.08),
0px 1px 1px rgba(46, 47, 66, 0.16),
0px 1px 6px rgba(46, 47, 66, 0.08);}

.header-container {
display: flex;
align-items: center;}

.header-nav {
display: flex;
align-items: center;}

.link-logo 
{font-family: 'Raleway', sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;}

.accent
{color: #2e2f42;}

.nav-list {
display: flex; 
align-items: center;
gap: 40px;}

.contacts-list {
display: flex;
align-items: center;
gap: 40px;}

.header-logo {
padding: 24px 0;
margin-right: 76px;}

.accent-wish
{color: #f4f4fd;}

.link-list 
{display: block;
padding: 24px 0;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.link-list:hover, .link-list:focus {color: #404bbf;}

.link-list.current {position: relative; color: #404bbf;}

.link-list.current::after {content:''; position: absolute; left: 0; bottom: -1px;
width: 100%; height: 4px; border-radius: 2px; background-color: #404bbf;}

.style-contacts
{font-style: normal;
margin-left: auto;}

.link-contacts 
{display: block;
padding: 24px 0;
font-style: normal;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)}

.link-contacts:hover, .link-contacts:focus {color: #404bbf;}

.section {padding-top: 120px; padding-bottom: 120px;}

.about
{background-color: #2e2f42;
background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
url(../images/people-office.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
padding-top: 188px;
padding-bottom: 188px;
max-width: 1440px;
margin: 0 auto;}

.page-title 
{box-sizing: border-box; max-width: 496px;
color: #ffffff;
font-size: 56px;
font-weight: 700;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
margin-right: auto;
margin-bottom: 48px;
margin-left: auto;}

.button 
{display: block; min-width: 169px; height: 56px; border: none;
color: #ffffff; 
background-color: #4d5ae5; 
font-family: 'Roboto', sans-serif;
font-size: 16px; 
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
text-align: center;
cursor: pointer;
padding: 16px 32px;
border-radius: 4px;
margin-right: auto; margin-left: auto;
transition-property: background-color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);}

.button:hover {background-color: #404bbf;}
.button:focus {background-color: #404bbf;}

.section-features {}

.visually-hidden
{position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;}

.features {display: flex;
gap: 24px;}

.list-features {width: calc((100% - 3 * 24px) / 4);}

.icon-features {display: flex;
align-items: center;
justify-content: center;
height: 112px;
background-color: #f4f4fd;
border-radius: 4px;
border: 1px solid #8e8f99;
margin-bottom: 8px;
padding: 24px 100px;}

.features-title 
{font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: left;
color: #2e2f42;
margin-bottom: 8px;}

.features-title-text
{font-size: 16px;
font-weight: 400;
text-align: left;     
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;}

.section-team
{background-color: #f4f4fd;}

.description
{font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
text-transform: capitalize;
color: #2e2f42;
margin-bottom: 72px;}

.item {display: flex;
gap: 24px;}

.list-team
{background-color: #ffffff;
width: calc((100% - 3 * 24px) / 4);
border-top-left-radius: 0px;
border-top-right-radius: 0px;
border-bottom-left-radius: 4px;
border-bottom-right-radius: 4px;
box-shadow: 
0px 1px 6px rgba(46, 47, 66, 0.08),
0px 1px 1px rgba(46, 47, 66, 0.16),
0px 2px 1px rgba(46, 47, 66, 0.08);}

.card-description {padding: 32px 0;}

.name-title 
{color: #2e2f42;
background-color: #ffffff;
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
margin-bottom: 8px;}

.name-title-text 
{background-color: #ffffff;
color: #434455;
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
margin-bottom: 8px;}

.social-link {display: flex;
justify-content: center;
gap: 24px;}

.social-link-item {width: 40px; height: 40px;}

.link {width: 100%; height: 100%; 
background-color: #4d5ae5;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.link:hover, .link:focus {background-color: #404bbf;}

.icon {fill: #f4f4fd;}

.section-offer {}

.offer
{color: #2e2f42;
font-size:36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
text-transform: capitalize;
margin-bottom: 72px;}

.list-offer{display: flex; flex-wrap: wrap; gap: 24px;}

.list-offer-content {width: calc((100% - 2 * 24px) / 3);
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.list-offer-content:hover {box-shadow: 
0px 1px 6px rgba(46, 47, 66, 0.08),
0px 1px 1px rgba(46, 47, 66, 0.16),
0px 2px 1px rgba(46, 47, 66, 0.08);}

.list-offer-content:hover .text-paragraf {transform: translateY(0%);}

.position {position: relative;
overflow: hidden;}

.text-paragraf {position: absolute;
top: 0;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
padding: 40px 32px;
background-color: #4d5ae5;
height: 100%; width: 100%;
transform: translateY(100%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.text-paragraf:hover {transform: translateY(100%);}

.offer-content{box-sizing: border-box; max-width: 360px;
border: 1px solid #e7e9fc;
padding: 32px 16px;
border-top: none;}

.offer-title
{color: #2e2f42;
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: left;
margin-bottom: 8px;}

.offer-title-text
{color: #434455;
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;}

.footer-page {background-color: #2e2f42; padding-top: 100px; padding-bottom: 100px;}

.wish {
display: flex;
align-items: baseline;}

.wish-container {margin-right: 120px;}

.logo-footer{display: inline-block; margin-bottom: 16px;}

.wish-text
{max-width: 264px;
color:#f4f4fd;
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;}

.text-social-media {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #ffffff;
margin-bottom: 16px;}

.social-link-media {display: flex; gap: 16px;}

.link-footer:hover, .link-footer:focus {background-color: #31d0aa;}

.footer-form {width: 453px; height: 80px;
    display: flex;
    flex-wrap: wrap;    
    margin-left: 80px;}

.subscribe {font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
    margin-right: 189px;}

.form-subscribe {display: flex;
gap: 24px;}

.mail {width: 264px; height: 40px;
border: 1px solid #ffffff;
background-color: transparent;
font-size: 12px;
line-height: 2;
letter-spacing: 0.04em;
padding-left: 16px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
color: #ffffff;}

.button-footer {display: flex;
    justify-content: center;
    align-items: center;
    min-width: 165px;
    height: 40px;    
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;    
    border-radius: 4px;}    

.icon-telegram {fill: #ffffff;
margin-left: 16px;}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
                visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.modal-overlay.is-open {
    opacity: 1;
    pointer-events: auto;}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    background-color: #fcfcfc;    
    box-shadow:
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;   
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow-y: auto;
    padding: 72px 24px 24px 24px;}

.close-button-modal {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 0;
    right: 24px;
    top: 24px;}

.close-button-modal:hover,
.close-button-modal:focus {
    background-color: #404bbf;
    border: none;}
    
.close {fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.close-button-modal:hover .close, 
.close-button-modal:focus .close {fill: #ffffff;}

.paragraf-modal {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2e2f42;    
    margin-bottom: 16px;}

.form-container {
    margin-bottom: 8px;}   

.form-label {display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;}  

.input-container {
    position: relative;}

.form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);} 

.form-input:focus {border-color: #4d5ae5;}

.form-input:focus+.modal-icon {fill: #4d5ae5;}

.modal-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.form-container-comment {
        margin-bottom: 16px;}

.form-input-textarea {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.form-input-textarea:focus {border-color: #4d5ae5;}

.checkbox {margin-bottom: 24px;}    

.checkbox-input-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;}

.checkbox-input:checked+.checkbox-input-label>.accent-modal 
{background-color: #404bbf;
border: none;
fill: #f4f4fd;}

.accent-modal {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;}    

.link-privacy {
    color: #4d5ae5;
    text-decoration: underline;}

.form-button-modal {
    display: block;
    min-width: 169px;
    min-height: 56px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;    
    color: #ffffff;
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    text-align: center;    
    border-radius: 4px; 
    padding: 16px 32px;
    margin-right: auto; margin-left: auto;}

    

        